In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('E-commerce.csv')
df.head()

,Customer ID,Age,Gender,Location,Annual Income,Purchase History,Browsing History,Product Reviews,Time on Site
0,1001,25,Female,City D,45000,"[{""Date"": ""2022-03-05"", ""Category"": ""Clothing""...","[{""Timestamp"": ""2022-03-10T14:30:00Z""}, {""Time...","Great pair of jeans, very comfortable. Rating:...",32.50
1,1001,28,Female,City D,52000,"[{""Product Category"": ""Clothing"", ""Purchase Da...","[{""Product Category"": ""Home & Garden"", ""Timest...",Great customer service!,123.45
2,1001,28,Female,City D,65000,"[{""Product Category"": ""Electronics"", ""Purchase...","[{""Product Category"": ""Clothing"", ""Timestamp"":...",Great electronics. The sound quality is excell...,125.60
3,1001,45,Female,City D,70000,"{'Purchase Date': '2022-08-15', 'Product Categ...",{'Timestamp': '2022-09-03 14:30:00'},"{""Product 1"": {""Rating"": 4, ""Review"": ""Great e...",327.60
4,1002,34,Male,City E,45000,"{'Purchase Date': '2022-07-25', 'Product Categ...",{'Timestamp': '2022-08-10 17:15:00'},"{""Product 1"": {""Rating"": 3, ""Review"": ""Good pr...",214.90

In [19]:
df['Purchase count'] = df['Purchase History'].apply(lambda x: len(str(x).split('}, {')))
df.head(3)

,Customer ID,Age,Gender,Location,Annual Income,Purchase History,Browsing History,Product Reviews,Time on Site,Purchase count
0,1001,25,Female,City D,45000,"[{""Date"": ""2022-03-05"", ""Category"": ""Clothing""...","[{""Timestamp"": ""2022-03-10T14:30:00Z""}, {""Time...","Great pair of jeans, very comfortable. Rating:...",32.50,3
1,1001,28,Female,City D,52000,"[{""Product Category"": ""Clothing"", ""Purchase Da...","[{""Product Category"": ""Home & Garden"", ""Timest...",Great customer service!,123.45,2
2,1001,28,Female,City D,65000,"[{""Product Category"": ""Electronics"", ""Purchase...","[{""Product Category"": ""Clothing"", ""Timestamp"":...",Great electronics. The sound quality is excell...,125.60,2

In [20]:
df['Purchase History'][0]

'[{"Date": "2022-03-05", "Category": "Clothing", "Price": 34.99}, {"Date": "2022-02-12", "Category": "Electronics", "Price": 129.99}, {"Date": "2022-01-20", "Category": "Home & Garden", "Price": 29.99}]'

In [22]:
df.groupby('Customer ID').describe()

              Age                                                        \
            count       mean        std   min    25%   50%    75%   max
Customer ID
1001         12.0  32.583333   6.855102  24.0  28.00  32.0  35.00  45.0
1002          6.0  40.000000   5.621388  32.0  36.00  42.0  44.25  45.0
1003          5.0  41.600000  15.274161  28.0  29.00  35.0  56.00  60.0
1004          4.0  40.250000  13.573872  28.0  28.75  40.5  52.00  52.0
1005          4.0  38.000000  13.540064  24.0  29.25  36.5  45.25  55.0
1006          3.0  45.666667   6.806859  38.0  43.00  48.0  49.50  51.0
1007          3.0  46.000000  12.489996  36.0  39.00  42.0  51.00  60.0
1008          3.0  51.000000   3.605551  48.0  49.00  50.0  52.50  55.0
1009          3.0  29.666667   5.033223  25.0  27.00  29.0  32.00  35.0
1010          2.0  53.000000   7.071068  48.0  50.50  53.0  55.50  58.0
1011          2.0  33.000000   4.242641  30.0  31.50  33.0  34.50  36.0
1012          2.0  53.500000  16.263456  42.0  47.75  53.5  59.25  65.0
1013          1.0  50.000000        NaN  50.0  50.00  50.0  50.00  50.0

            Annual Income                ... Time on Site         \
                    count          mean  ...          75%    max
Customer ID                              ...
1001                 12.0  58500.000000  ...     123.4875  327.6
1002                  6.0  69500.000000  ...     287.5000  350.0
1003                  5.0  64400.000000  ...     250.0000  486.3
1004                  4.0  68750.000000  ...     357.1250  378.5
1005                  4.0  63750.000000  ...     292.3500  300.0
1006                  3.0  80000.000000  ...     428.1000  456.2
1007                  3.0  63333.333333  ...     317.4500  334.9
1008                  3.0  83333.333333  ...     374.3000  450.0
1009                  3.0  45000.000000  ...     281.2500  312.5
1010                  2.0  75000.000000  ...     312.5000  350.0
1011                  2.0  47500.000000  ...     190.0000  200.0
1012                  2.0  95000.000000  ...     285.0000  300.0
1013                  1.0  68000.000000  ...     250.0000  250.0

            Purchase count
                     count      mean       std  min  25%  50%   75%  max
Customer ID
1001                  12.0  1.583333  0.668558  1.0  1.0  1.5  2.00  3.0
1002                   6.0  1.333333  0.516398  1.0  1.0  1.0  1.75  2.0
1003                   5.0  1.200000  0.447214  1.0  1.0  1.0  1.00  2.0
1004                   4.0  1.250000  0.500000  1.0  1.0  1.0  1.25  2.0
1005                   4.0  1.250000  0.500000  1.0  1.0  1.0  1.25  2.0
1006                   3.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
1007                   3.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
1008                   3.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
1009                   3.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
1010                   2.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
1011                   2.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
1012                   2.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
1013                   1.0  1.000000       NaN  1.0  1.0  1.0  1.00  1.0

[13 rows x 32 columns]